header {
  display: flex;
  background-color: #EDDCC2;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  z-index: -1;
  flex-direction: column;
  align-items: center;
  height:520px;
  padding-top:120px;
  width:100%;
}